[Unit]
Description=takes daily btrfs snapshots of root and home directories

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1hours

[Install]
WantedBy=default.target
