[Unit]
Description=takes hourly btrfs snapshots of root and home directories

[Timer]
OnCalendar=hourly
Persistent=true
AccuracySec=15minutes

[Install]
WantedBy=default.target
