[Unit]
Description=daily snapshots
After=default.target

[Timer]
Persistent=true
OnCalendar=daily
AccuracySec=5minutes

[Install]
WantedBy=default.target
