[Unit]
Description=monthly snapshots
After=default.target

[Timer]
Persistent=true
OnCalendar=monthly
AccuracySec=5minutes

[Install]
WantedBy=default.target
