[Unit]
Description=yearly snapshots
After=default.target

[Timer]
Persistent=true
OnCalendar=yearly
AccuracySec=5minutes

[Install]
WantedBy=default.target
