[Unit]
Description=hourly snapshots
After=default.target

[Timer]
Persistent=true
OnCalendar=hourly
AccuracySec=5minutes

[Install]
WantedBy=default.target
