[Unit]
Description=takes weekly btrfs snapshots of root and home directories
After=default.target
Wants=default.target

[Service]
ExecStart=/scripts/root/snapshot-weekly.sh
