[Unit]
Description=updates certain things
After=default.target

[Service]
ExecStart=/scripts/all/update.sh
ExecStartPre=/scripts/all/internet-check.sh
Type=simple
