[Unit]
Description=update things
After=default.target

[Service]
ExecStart=/scripts/all/update.sh
ExecStartPre=/scripts/all/internet-check.sh
TimeoutStartSec=15min
